<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td>$<%=(customer.total_sales)%></td>
        <td><a href="/customers/show/<%=customer.id %>">Show</a></td>
        <td><a href="/customers/edit/<%=customer.id %>">Edit</a></td>
        <td><a href="/customers/delete/<%=customer.id %>">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= paginate @customers %></p>
<br>

<a href="/customers/new/">New Customer</a>
