<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td>$<%= (sale.amount) %></td>
        <td>$<%=(sale.tax) %></td>
        <td><%= sale.customer.name.upcase %></td>
        <td><a href="/sales/show/<%=sale.id %>">Show</a></td>
        <td><a href="/sales/edit/<%=sale.id %>">Edit</a></td>
        <td><a href="/sales/delete/<%=sale.id %>">Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= paginate @sales %></p>
<br>

<a href="/sales/new/">New Sale</a>
